<?xml version="1.0" encoding="UTF-8"?>

<configuration debug="true">

    <include resource="logback/logback-base.xml"/>
    <!-- 日志输出级别 -->
	<springProfile name="dev">
    <root level="DEBUG">
        <appender-ref ref="console"/>
        <appender-ref ref="errorLog"/>
        <!-- 消息日志 -->
        <appender-ref ref="infoLog"/>
    </root>
    </springProfile>
	<springProfile name="test">
    <root level="DEBUG">
        <appender-ref ref="errorLog"/>
        <!-- 消息日志 -->
        <appender-ref ref="infoLog"/>
    </root>
	</springProfile>
	<!-- 生产环境. -->
	<springProfile name="prod">
        <root level="DEBUG">
           <!-- 错误日志 -->
        <appender-ref ref="errorLog"/>
        <!-- 消息日志 -->
        <appender-ref ref="infoLog"/>
   		</root>
	</springProfile>
</configuration>